@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*::selection {
    display: none;
}

body {
    position: relative;
}

.flex-grow {
    flex-grow: 1;
}

.font-bold {
    font-weight: bold;
}

.not-found-page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home-page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .home-page-form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .home-page-input-username,
        .home-page-input-password {
            display: block;
            padding: .5rem 2rem;
            border-radius: 5px;
            border: none;
            background-color: rgb(221, 221, 246);
        }

        .home-page-button-submit {
            display: block;
            width: 100%;
            background-color: rgb(107, 107, 212);
            color: white;
            padding: .5rem 2rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
}

.user-page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .user-page-form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .user-page-button-submit {
            display: block;
            width: 100%;
            background-color: red;
            color: white;
            padding: .5rem 2rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
}